* {
    margin: 0px;
    padding: 0px;
    font-family: "Mukta Malar";
}

#main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-image: linear-gradient( -35deg,  rgb(254, 255, 177) 11.2%, rgb(250, 202, 202) 70%, rgba(163,230,255,1) 90% );


    border: 5px solid black;
    height: 22.5rem;
    width: 14rem;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    background-image: url("../images/Characters/Character_014.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 11.5rem;
    height: 11rem;
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: white;
}


.card-description-container {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-description {
    text-align: center;
}


.card-hitpoints-effects {
    background-image: url("../animations/hitpoints-effect.gif");
    background-size: cover;
    border-radius: 50px;
    height: 4.6rem;
    width: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-left: -0.3rem;
    margin-top: -0.3rem;
}

.card-cost-effects {
    background-image: url("../animations/cost-effect.gif");
    background-size: cover;
    border-radius: 50px;
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.card-hitpoints-container {
    background-color: #fdd1d1;
    border: 1px solid #000000;
    position: relative;
    border-radius: 50%;
    height: 3.3rem;
    width: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card-attack-effects {
    background-image: url("../animations/attack-effect.gif");
    background-size: cover;
    height: 4rem;
    width: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.card-attack-container {
    /* background-color: #c9f7f8; */
    background-color: #000000;
    position: relative;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* margin-left: -0.2rem; */
    border: solid black 1px;
    color: #b1eaff
}

.middle-container {
    margin-top: -6rem;
}

.card-attack {
    font-size: 4rem;
}

.top-container {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-left: -2rem;
    margin-top: -1.5rem;
}
.buttom-container {
    display: flex;
    justify-content: center;
}

.card-cost-container {
    background-image: url("../images/goldenHexagon.png");
    background-size: cover;
    position: relative;
    height: 3.5rem;
    width: 3.95rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card-cost {
    font-size: 4rem;
}

.card-description {
    font-weight: 600;
}

.card-hitpoints {
    font-size: 4rem;
}
