* {
	margin: 0;
	padding:0;
}

html {
	background-color: #000;
	color:#ddd;
	font-size: 24px;
}

a {
	font-weight: bold;
	text-decoration: none;
	color:white;
}

h1 {
	text-align: center;
	margin-top:20px;
}

p {
	width:900px;
	margin:30px auto;
	text-align: center;
}

#room {
	margin:100px auto;
	width:640px;
	height:480px;
}

.controls {
	position: relative;
	height:300px;
	width:300px;
	margin:100px auto;
}

.controls div {
	background-image:url('../images/arrow.png');
	transition:1s;
	width:100px;
	height:100px;
	background-size: 100%;
	cursor: pointer;
	position: absolute;
}

.controls .arrow-down {
	bottom:0;
	left:50%;
	margin-left:-50px;
}

.controls .arrow-left {
	top:50%;
	left:0%;
	margin-top:-50px;
	transform: rotate(90deg);
}

.controls .arrow-up {
	top:0%;
	left:50%;
	margin-left:-50px;
	transform: rotate(180deg);
}

.controls .arrow-right {
	top:50%;
	right:0%;
	margin-top:-50px;
	transform: rotate(270deg);
}

.controls div:hover {
	opacity:0.5;
}
